In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
                    .master("local")\
                    .appName("word count hdfs file Spark Session")\
                    .getOrCreate()

22/03/20 22:41:16 WARN Utils: Your hostname, shital-VivoBook-ASUS-Laptop-X505ZA-X505ZA resolves to a loopback address: 127.0.1.1; using 192.168.0.241 instead (on interface wlp1s0)
22/03/20 22:41:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/20 22:41:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/20 22:41:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/20 22:41:48 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/20 22:41:48 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [5]:
import pyspark.sql.functions as f

In [ ]:
# Word Count program for text file
textfile = spark.read.text("hdfs://localhost:9000/demo/input_text.txt")
textfile.show()

In [34]:
textfile.withColumn('word', f.explode(f.split(f.col('value'),' ')))\
    .groupBy('word')\
    .count()\
    .sort('count')\
    .show()

+-------+-----+
|   word|count|
+-------+-----+
|welcome|    1|
|       |    1|
|    how|    1|
|    you|    1|
|    are|    1|
|morning|    2|
|   good|    2|
|     hi|    3|
+-------+-----+

In [11]:
csvfile = spark.read.option("header", True).csv("file:///home/shital/Desktop/pyspark_program/input/StateCensusData.csv")

In [12]:
csvfile.show()

+--------------+----------+----------+--------------+
|         State|Population|AreaInSqKm|DensityPerSqKm|
+--------------+----------+----------+--------------+
| Uttar Pradesh| 199812341|    240928|           828|
|   Maharashtra| 112372972|    307713|           365|
|         Bihar| 103804637|     94163|          1102|
|Madhya Pradesh|  91347736|     88752|          1029|
|Madhya Pradesh|  72597565|    308245|           236|
|    Tamil Nadu|  72138958|    130058|           555|
|     Rajasthan|  68621012|    342239|           201|
|     Karnataka|  61130704|    191791|           319|
|       Gujarat|  60383628|    196024|           308|
|         Bihar|  49386799|    162968|           303|
|        Odisha|  41947358|    155707|           269|
|     Telangana|  35286757|    114840|           307|
|        Kerala|  33387677|     38863|           859|
|   Maharashtra|  32966238|     79714|           414|
|Madhya Pradesh|  31169272|     78438|           397|
|        Punjab|  27704236|     50362|           550|
|   Maharashtra|  25540196|    135191|           189|
|Madhya Pradesh|  25353081|     44212|           573|
+--------------+----------+----------+--------------+

In [17]:
csvfile.withColumn('word', f.explode(f.split(f.col('AreaInSqKm'),',')))\
    .groupBy('word')\
    .count()\
    .sort('count')\
    .show()

+------+-----+
|  word|count|
+------+-----+
|114840|    1|
| 88752|    1|
| 44212|    1|
|196024|    1|
|307713|    1|
|240928|    1|
|342239|    1|
|162968|    1|
| 50362|    1|
|135191|    1|
|155707|    1|
|191791|    1|
|130058|    1|
| 94163|    1|
| 38863|    1|
| 78438|    1|
|308245|    1|
| 79714|    1|
+------+-----+

In [14]:
csvfile.withColumn('word', f.explode(f.split(f.col('State'),',')))\
    .groupBy('word')\
    .count()\
    .sort('count')\
    .show()

+--------------+-----+
|          word|count|
+--------------+-----+
|    Tamil Nadu|    1|
|     Karnataka|    1|
|        Kerala|    1|
|     Rajasthan|    1|
|     Telangana|    1|
| Uttar Pradesh|    1|
|        Punjab|    1|
|        Odisha|    1|
|       Gujarat|    1|
|         Bihar|    2|
|   Maharashtra|    3|
|Madhya Pradesh|    4|
+--------------+-----+

In [18]:
df = spark.read.json("file:///home/shital/Desktop/pyspark_program/input/jsonfile.json",multiLine=True)
df.show(truncate=0)

+---------+------+----+
|education|name  |year|
+---------+------+----+
|ME       |swara |2013|
|BE       |sanket|2014|
|ME       |sanket|2017|
+---------+------+----+

In [19]:
import pyspark.sql.functions as f
df.groupBy('education')\
    .count()\
    .show()

+---------+-----+
|education|count|
+---------+-----+
|       ME|    2|
|       BE|    1|
+---------+-----+

In [22]:
df.groupBy('name')\
    .count()\
    .show()

+------+-----+
|  name|count|
+------+-----+
| swara|    1|
|sanket|    2|
+------+-----+

In [39]:
parqfile1 = spark.read.parquet("file:///home/shital/Desktop/pyspark_program/output/outputparq.parquet")

In [40]:
parqfile1.show()

+--------------+----------+----------+--------------+
|         State|Population|AreaInSqKm|DensityPerSqKm|
+--------------+----------+----------+--------------+
| Uttar Pradesh| 199812341|    240928|           828|
|   Maharashtra| 112372972|    307713|           365|
|         Bihar| 103804637|     94163|          1102|
|Madhya Pradesh|  91347736|     88752|          1029|
|Madhya Pradesh|  72597565|    308245|           236|
|    Tamil Nadu|  72138958|    130058|           555|
|     Rajasthan|  68621012|    342239|           201|
|     Karnataka|  61130704|    191791|           319|
|       Gujarat|  60383628|    196024|           308|
|         Bihar|  49386799|    162968|           303|
|        Odisha|  41947358|    155707|           269|
|     Telangana|  35286757|    114840|           307|
|        Kerala|  33387677|     38863|           859|
|   Maharashtra|  32966238|     79714|           414|
|Madhya Pradesh|  31169272|     78438|           397|
|        Punjab|  27704236|     50362|           550|
|   Maharashtra|  25540196|    135191|           189|
|Madhya Pradesh|  25353081|     44212|           573|
+--------------+----------+----------+--------------+

In [41]:
parqfile1.withColumn('word', f.explode(f.split(f.col('State'),',')))\
    .groupBy('word')\
    .count()\
    .sort('count')\
    .show()

+--------------+-----+
|          word|count|
+--------------+-----+
|    Tamil Nadu|    1|
|     Karnataka|    1|
|        Kerala|    1|
|     Rajasthan|    1|
|     Telangana|    1|
| Uttar Pradesh|    1|
|        Punjab|    1|
|        Odisha|    1|
|       Gujarat|    1|
|         Bihar|    2|
|   Maharashtra|    3|
|Madhya Pradesh|    4|
+--------------+-----+